@{
    ViewBag.Title = "About";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>*@

<div id="DivPhotoelectricEffect">
    <div class="section-title">
        <h2>Photoelectric Effect: Magnetic force should increase with increase in frequency of EM waves</h2>

    </div>
    <div class="row content">
        <div class="col-lg-12">
            <p><h4 style="color:blue">Photoelectric effect:</h4></p>

            <p>The phenomenon of ejection of electrons from a metal surface when light of suitable frequency strikes on it.</p>

            <p style="text-align:center">
                <img src="~/Images/PhotoelectricEffect/1.png" />
            </p>
            <p><h4 style="color:blue">Important Characteristic of the photoelectric effect:</h4></p>
            <p>The kinetic energy of the emitted electron is proportional to the frequency of the incident light. </p>
            <p style="text-align:center">
                <img src="~/Images/PhotoelectricEffect/2.png" />
            </p>


            <p><h4 style="color:blue">Failure of classical mechanics:</h4></p>
            <p>The photoelectric effect is generally considered to be a discovered by Hertz’s (1887). According to the contemporary knowledge, light is an Electromagnetic wave.</p>

            <p style="text-align:center">
                <img src="~/Images/PhotoelectricEffect/3.png" />

            </p>
            <p>It means energy is proportional to the intensity of light. It does not involve the frequency of light. Therefore, the classical electrodynamics is not able to explain the photoelectric effect. Until 1905, that crisis was not solved successfully by anyone.</p>

            <p><h4 style="color:blue">Einstein’s explanation on photoelectric effect:</h4></p>
            <p>To the surprise, Einstein had published his paper in 1905 providing revolutionary explanation on the photoelectric effect. It was based on his “light quanta” hypothesis. He proposed that the light behaves as a stream of independent, localized units of energy (light quanta further called as photons). Each photon has an energy hv where v is the frequency of the light wave and h is the plank’s constant. A photon could be absorbed by a single electron imparting to it all its energy in photoelectric effect yielding the following equation,</p>

            <p style="text-align:center">
                <img src="~/Images/PhotoelectricEffect/4.png" />
            </p>
            <p>
                whereW0 is the work function of the metal.<br /><br />                                Obviously eq. (3) obeys all the laws of photoelectric effect. It seemed that the crisis of photoelectric effect was solved. But few things are yet to be answered.
            </p>


            <p><h4 style="color:blue">What is the type of energy associated with the photon?</h4></p>
            <p>We don’t know.</p>
            <p><h4 style="color:blue">An electron absorbs energy of a photon means what, do we have clear idea? </h4></p>
            <p>We don’t have really.</p>
            <p><h4 style="color:blue">If a mass particle is at rest, what are the essentials to displace it from its position?</h4></p>
            <p>Generally, either a force is required or a transfer of momentum.</p>
            <p><h4 style="color:blue">What is happening at the position of the electron while getting ejected in the photoelectric effect?</h4></p>
            <p>We don’t know exactly.</p>
            <p><h4 style="color:blue">Can photoelectric effect happen if there is a charge-less particle at position of the electron?</h4></p>
            <p>
                We don’t know exactly but should not happen. Charge of the electron must be playing important role in this effect but we don’t know exactly. Einstein ignored charge on the electron.
                We don’t know about all such things which are essential and important to understand the photoelectric effect. Unfortunately no one is pointing on these. We are proceeding further such as all things are well explained by Einstein. We believe that Einstein could understand the photoelectric effect, specially the duel nature of light, and is beyond imagination of common man. But we should not go like that. Science is not a way to believe. It is to test and understand in all ways. It is to be answered and satisfied in all ways.
                Einstein’s hypothesis of<b> “light quanta”</b> was not taken seriously by mathematically adept physicists for just over fifteen years. The reasons are clear. It seemed to be an unnecessary rejection of the highly verified classical theory of radiation. How “light quanta” could possibly explain interference phenomena was always the central objection. There is a big difference between the two natures.
            </p>
            <p style="text-align:center">
                <img src="~/Images/PhotoelectricEffect/5.png" />
            </p>

            <p>Though Einstein proposed the concept of ‘light quanta’ but he couldn’t understand it in his whole life. In 1954 he wrote to his friend Michael Besso expressing his frustration;<br /><br /><b>“All these fifty years of conscious brooding have brought me no nearer to the answer to the question, ‘What are light quanta?’ Nowadays every Tom, Dick and Harry thinks he knows it, he is mistaken.”</b><br /><br />Einstein couldn’t understand which force is responsible to eject electrons in the photoelectric effect. Let us investigate step by step which force can be responsible to produce the photoelectric effect. For investigation, we consider light is an electromagnetic wave of particular frequency. Further, as electron bears electric charge, therefore, electromagnetic force applied by the light wave on the electrons must be responsible to produce the effect.</p>
            <p><h4 style="color:blue">Reinvestigating the Photoelectric Effect:</h4></p>
            <p>Light consist of electromagnetic waves propagating with speed c in vacuum with having electric and magnetic field structure as illustrated in Fig. 4(a).  To understand the photoelectric effect with this structure, we examine hypothetically such types of one wave incident on a metal surface.</p>
            <p style="text-align:center">
                <img src="~/Images/PhotoelectricEffect/6.png" />
            </p>
            <p>At first we examine the effect of electric field in the wave on the electrons at the metal surface (Fig. 4(b)). As time advances, it progressively interacts with the metal surface and hence with electrons at it. We divide the field into four regions AB, BC, CD and DE. The electric field value at position A is zero producing no force on the subjected electrons. As the wave advances, the field strength subjected to the electron increases. We wish to examine the instant when the subjected electron is at the center of the region AB as illustrated by Fig. 4(c). This electric field exerts an electric force on the electron proportional to the electric field strength at its position in opposite direction of the field. One thing, here, to consider is that the electric field of the wave is not symmetric about the line of force exerted on the electron. Under this situation, the electron cannot be pushed only along the direction of the force eventually the force equation, F = qE, may not work properly. To understand the force action more elaborately, we have to take into consideration the electric field of the electron in addition to the applied electric field of the wave and visualize the existence of the<b> electric force in terms of field-field interaction </b>which can be explained as follows.</p>


            <p><h4 style="color:blue">Force through field-field interaction:</h4></p>

            <p><b>Case (1): </b>In fig. 5(a), the force between the two charges is expressed in terms of their charges. It may be considered as force in terms of charge-charge interaction.<br /><br /><b>Case (2): </b>In fig 5(b), charge q1 produces electric field E1 around itself. If another charge q2 is brought into the field then the field applies force on the charge. It may be considered as force in terms of field-charge interaction. The force equation is given by F2 = q2¬¬E1, where E1 is the electric field produced by charge q1 at position of charge q2. Force is mutual. Therefore, charge q2 also applies force on charge q1 in terms of field-charge interaction by F1 = q1¬¬E2, where E2 is the electric field produced by the charge q2 at position of charge q1.</p>
            <p style="text-align:center">
                <img src="~/Images/PhotoelectricEffect/7.png" />
            </p>
            <p>
                <b> Case (3):</b> In fig. 5(c), an electric field wave in an electromagnetic wave is propagating with speed of light and interacts with a charge q at an instant. This field also applies force on the charge in terms of field-charge interaction. If E is the electric field of the electric wave at position of the charge q at any instant then the force equation is F = qE. But the force is mutual. Hence the charge q should also apply force on the electric field of the wave. As there is no charge associated with electric field of the wave, the electric field of the charge q must apply force on the electric field of the wave which may be considered as force through field-field interactions. Obviously, as the subjected charge q is always associated with its own electric field, therefore, the electric field of the applied wave must apply force on the field of the charge resulting into the force through field-field interactions. Thus finally one can conclude that the electric force exists not in terms of charge-charge interaction or field-charge interaction but it exists in terms of field-field interactions.
                <b> Case (4):</b> In fig. 5(d), if two charges are brought close to each other, then force between them, either attractive or repulsive, is existed in terms of their field-field interactions. It means the electric field of first charge exerts force on the electric field of the second charge and vice versa. Thus a new electric force equation is to be developed which could explain the force in terms of the field-field interaction. At present we consider existence of electric force in terms of the field-field interactions for further discussion.Fig 4(c) is more elaborated in fig. 6 where the effect of electric force through field-field interactions can be understood.
            </p>
            <p style="text-align:center">
                <img src="~/Images/PhotoelectricEffect/8.png" />
            </p>
            <p>
                We are investigating motion of the subjected electron when it is in the region between ‘A’ and ‘B’ of the electric field of the wave. Here we divide the electric field of the electron into two hemispheres, upper and lower. Let Fbe the net electric force divided into two parts FA and FB where FA is the force on the electron’s field at its lower hemisphere and FB is the force on the electron’s field at upper hemisphere. Clearly FA&ltFB because of which the net electric force F is asymmetric causing the electron to follow the curved path ‘p’. As FA&ltFB, the electron gets pushed into the metal surface and there no ejection from the metal. As the electron follows a curved path, therefore, it can be imagined as acting under two forces, the net electric force F which is always in opposite direction of the electric field of the wave and other is an apparent force Fa which is proportional to the electric field strength E0 of the wave and inversely proportional to the distance between points ‘A’ and ‘B’.Further it is always perpendicular to the velocity of the electron and it is in the plane of the electric field of the wave.Actually the apparent force can be true face of magnetic force arising due to the symmetric electric field and asymmetric electric force.
                <br /><br />
                Thus,
            </p>
            <p style="text-align:center">
                <img src="~/Images/PhotoelectricEffect/9.png" />
            </p>
            <p>
                Thus the apparent force Fa is proportional to the frequency of the wave.<br /><br />
                While progressing the wave, when the subjected electron at the metal surface comes at position ‘B’ of the wave, the electric force becomes symmetric and there is no curved path to be followed by the electron.<br /><br />When the subjected electron comes at the position between point ‘B’ and ‘C’ of the wave, once again the electric force becomes asymmetric as shown in fig. 7.

            </p>

            <p style="text-align:center">
                <img src="~/Images/PhotoelectricEffect/10.png" />
            </p>
            <p>Here FA>FB because of which the electron follows curved path in upward direction and may be ejected from the metal surface. Here again the apparent force, responsible to produce the curved path, is proportional to the frequency of the wave. The work done by this force in pushing the electron at the metal surface in upward direction may be assigned as</p>

            <p style="text-align:center">
                <img src="~/Images/PhotoelectricEffect/11.png" />
            </p>
            <p>Part of this work done will be used to overcome binding energy to release the electron from the metal surface and remaining will be converted into kinetic energy of the electron. If W0 is the binding energy of the electron then we may have</p>
            <p style="text-align:center">
                <img src="~/Images/PhotoelectricEffect/12.png" />
            </p>
            <p>
                This equation is similar to the Einstein’s equation (3) exceptk’E0should be equal to the plank’s constant h which seems to be impossible.In Einstein’s explanation, one photon is absorbed at one time by an electron. According to this consideration, if one wave is linked to the subjected electron at one time then the amplitude E0 of the wave should be always constant, since it is emitted by transition of single electron in atom possessing fixed charge and field. Therefore, k’E0should be always constant for all frequencies of the light waves. More investigation in this regard is needed. But at least equation (7) relates kinetic energy of the photoelectron with frequency of the incident light wave.<br /><br />
                Thus we have gone step by step and point to point what should be happening at the position of the electron in photoelectric effect and found that the asymmetric electric field in the wave is responsible to produce the asymmetric electric force. The asymmetry in the electric force increases with increase in frequency of the wave because of which the kinetic energy of the photoelectron is found to be proportional to the frequency of the wave. This is the fact and is the last option in classical electrodynamics to relate the kinetic energy of the photoelectron with frequency of the incident wave.
            </p>


            <p><h4 style="color:blue">Experimental proof: Increase of Magnetic Force with increase in Frequency of EM Waves</h4></p>


            <p>Asymmetric electric field produces asymmetric electric force which is responsible to produce the apparent force which is always perpendicular to the velocity of the subjected charged particle and it exists only when the charged particle is in motion. Therefore, it creates possibility of the apparent force can be the true face of magnetic force. If it is the fact then it could be experimentally verified. As the apparent force increases with increase in frequency of light wave causing to produce the photoelectric effect and the apparent force if is the true face of magnetic force then, the magnetic force existed by any electromagnetic wave like produced by an antenna should increase with increase in frequency of the wave which could be experimentally verified as explained below.</p>

            <p style="text-align:center">
                <img src="~/Images/PhotoelectricEffect/13.png" />
            </p>

            <p>
                Fig. 8 represents the experimental arrangement to detect the dependence of magnetic force on frequency of the EM wave and phase difference between electric and magnetic fields in the wave. The antenna produces EM wave of suitable frequency and amplitude. Two cathode ray tubes (CRTs) can be used to detect response of the electric field and magnetic field in the wave. CRTx is kept perpendicular to the electric field to detect its field strength. CRTz is kept perpendicular to the magnetic field to detect its field strength.<br /><br />
                Deflection of CRTx will be proportional to the amplitude of the electric field wave. This deflection will not depend on frequency of the wave. According to the classical electrodynamics, there will be no effect of magnetic field wave on deflection of CRTx as its electron beam is parallel to the magnetic field. By increasing the frequency of the EM waves with keeping amplitude of the wave constant, we should find there is no change in the deflection of the electron beam of CRTx.<br /><br />
                Deflection of CRTz will be proportional to the amplitude of the magnetic field wave. According to the classical electrodynamics,this deflection will not depend on frequency of the wave, since the magnetic force equation is
            </p>
            <p style="text-align:center">
                <img src="~/Images/PhotoelectricEffect/14.png" />
            </p>
            <p>
                It does not involve the frequency of the wave.<br /><br />
                Further, there should be no effect of electric field wave on deflection of CRTz as its electron beam is parallel to the electric field. By increasing the frequency of the EM waves with keeping amplitude of the wave constant, we should find no change in the deflection of the electron beam of CRTz also.<br /><br />
                But if the apparent force is actually working as the magnetic force, then with increase in frequency of the wave the deflection of the CRTz should increase though the field strength of the wave is constant. It can be explained by fig. 9.
            </p>

            <p style="text-align:center">
                <img src="~/Images/PhotoelectricEffect/15.png" />
            </p>
            <p>
                If the apparent force is the true face of magnetic force then the magnetic field is absent in the wave. From fig. 9, the electric field in the region A to C tries to decelerate the electron beam because of which the electron beam gets deflected into the strong field region. This deflection is proportional to the amplitude E0 of the wave and inversely proportional to the distance between points A and B which is /4 consequently the deflection is proportional to the frequency of the wave withE0 is kept constant. The electric field in the region between point C and D tries to accelerate the electron beam because of which the beam gets deflected into the weak field region. Here also the deflection is proportional to the frequency of the wave. This experiment will prove whether the apparent force is working as the true face of magnetic field or not.<br /><br />
                This experiment can be performed such as suppose the length of the electron beam of the CRT is 10cm and the accelerating voltage of the final anode is 1000volt then the frequency of the EM wave should be in the range of 1MHz to 100MHz. Produce such an EM wave by an antenna and keep the magnitude of the wave sufficiently strong so as to get deflection of electron beam in CRTs. By keeping the field strength constant and increasing the frequency of the wave from 1MHz to 100MHz in small steps and note the deflections of the CRTs at both positions. With increase in frequency we should found increase in deflection of the CRTz which will confirm the apparent force Fa produced by asymmetric electric field which is working as the magnetic force and responsible to produce the photoelectric effect. On the other hand CRTx should not show any change in the deflection. While doing the experiment we might have to do changes in the frequency range.
            </p>

            <p><h4 style="color:blue"> Phase difference between electric and magnetic field waves:</h4></p>
            <p>If the apparent force is actually working as the magnetic force then there can be a phase difference between electric field wave and magnetic field wave which can be understood using figure 10. When electrons are accelerated, they get pushed into weak field and when they are decelerated then they get pushed into strong electric field.</p>
            <p style="text-align:center">
                <img src="~/Images/PhotoelectricEffect/16.png" />
            </p>
            <p>
                The electric field between A to C decelerates the electron because of which they get pushed into the strong field region. The field between C to E accelerates the electron because of which they gets pushed into the weak field region.<br /><br />
                At positions B, D, F the electric field is symmetric, therefore, there is no deflection of electron beam indicating corresponding magnetic field should be zero. The phase difference can be experimentally verified by using same ramp voltage signal to both CRTs simultaneously. The actual phase difference between electric field and magnetic field in an EM wave should be as like shown in figure 11 (b).
            </p>
            <p style="text-align:center">
                <img src="~/Images/PhotoelectricEffect/17.png" />
            </p>
            <p>
                Fig. 11 (a) represents no phase difference between electric and magnetic field waves in according to the existing classical theory of electrodynamics.<br /><br />
                Fig 10(b) represents the expected phase difference between electric and magnetic field waves from the above discussion.
            </p>


            <p><h4 style="color:blue">Conclusions:</h4></p>

            <p>
                1.	 In EM waves, the magnetic force should increase with increase in frequency which should be responsible to produce the photoelectric effect.<br /><br />
                2.	 There should be a phase difference of 90 degree between electric field and magnetic field in EM waves as described.<br /><br />
                3.	 The apparent force produced due to the asymmetric electric force is the true face of the magnetic force, which gives answer to the absentee of magnetic monopoles in the universe.
            </p>


            <p><h4 style="color:blue">References:</h4></p>

            <p>1. G. H. Jadhav, ‘Photoelectric Effect: Magnetic Force should increase with increase in Frequency of EM Waves’ Presented in ICAMSER-2021 and accepted for publication in AIP proceeding, 2021.</p>




        </div>
    </div>
</div>
